 language: node_js
 node_js:
   - "0.8"

 before_script:
  - npm install -g grunt-cli@0.1.x
  - cd ./client
  - npm install --quiet

 script: grunt release
 deploy:
  provider: openshift
  user: sopplet@gmail.com
  password:
    secure: P2dupeUa4ElsjLEwj+4ZEoKqpk4HTpzxEvJ4L5BgUn+oWdjky9jMwdNJu6St4i5p6DYF5hJ9OkK+b+OAtPiFdLHYIstY2f2Cuv7h6d4pxrOALIVb4v5Engq948+/yymNfkfFYGoAgTq6aV2V0k5K+FwDlOHhStWfAuDfnDePeuU=
  app: hp
  domain: asbest001
  on:
    repo: asek-ll/hp
