<div class="container" ng-controller="LoginFormCtrl">

  <form class="form-signin" role="form" action="/login" method="POST">
    <h2 class="form-signin-heading">Please sign in</h2>
    <input name="username" type="text" class="form-control" placeholder="Username" required autofocus ng-model="username">
    <input name="password" type="password" class="form-control" placeholder="Password" required ng-model="password">
    <label class="checkbox">
      <input type="checkbox" value="remember-me"> Remember me
    </label>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>

</div> <!-- /container -->
